.banner_text
  h1 Read our awesome user's blog

  = sort_link(@q, :created_at, "view", default_order: :asc)
    | most recent

  = sort_link(@q, :view_count, "view count", default_order: :desc)
    | most viewed
    
.list-of-blogs
  - @blogs.each do |blog|
    = render "blogs/partials/blog_card", { blog: blog }


style
  |
    .sort_link {
      text-decoration:none !important;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      cursor: pointer;
      border: 3px solid;
      padding: 0.25em 0.5em;
      box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .sort_link:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }

    @media (min-width: 768px) {
      .sort_link {
        padding: 0.25em 0.75em;
      }
    }
    .sort_link:nth-child(odd){
      background:#F6F740;
    }
    .sort_link:nth-child(even){
      background:#A4C3B2;
    }