<ul>
  <li>
    <%= link_to "Home", root_path, class: "#{bold_css('landing')}"  %>
  </li>
  <li>
    <%= link_to "About Us", about_us_path, class: "#{bold_css('about_us')}" %>
  </li>
  </li>
  <li>
    <%= link_to "Apps", apps_path, class: "#{bold_css 'apps'}"  %>
  </li>
  <li>
    <%= link_to "Pricing", pricing_path, class: "#{bold_css 'pricing'}"  %>
  </li>
</ul>